h1{
    margin: 20px;
    padding-top: 2rem;
}
h1 a{
    margin-bottom: 0.5em;
}

.formsCreate{
    margin-left: 2rem;
}

.formsCreate input{
    width: 500px;
}

.img_avatar_user{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img_in_porduct{
    height: 400px;
}
.card_main_product{
    height: 700px;
}